body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  margin: auto;
}

.app-panel {
  width: 100%;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.button-panel {
  text-align: center;
  margin: 0;
  padding: 0;
}

.button-row {
  height: 100px;
}

.button {
  border: 1px solid gray;
  height: 100%;
  width: 25%;
}

.button-0 {
  border: 1px solid gray;
  height: 100%;
  width: 50%;
}

.flex-bottom {
  padding: 0 20px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.display-style {
  border: 1px solid gray;
  background-color: rgb(145, 145, 145);
}

.on-bottom {
  vertical-align: bottom;
}

.classic-color {
  background-color: lightgray;
}

.operator-color {
  background-color: orange;
}
